#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
	display: flex;
	background-image: url("https://xnagapiex.github.io/Web-Project/images/almond-tree.png");
    background-repeat: no-repeat;
	background-attachment: fixed;
	justify-content: center;
    align-items: center;
}

#header {
    height: 80px;
    width: 1100px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 50px;
    font-family: Tahoma;

    line-height: 78px;
    text-align: center;
}


#menu {
    width: 30px;
    width: 1100px;
    background-color: #696969;
    color: white;
    font-family: Tahoma;
    font-size: 20px;

    line-height: 50px;
    text-align: center;
}

#main {
    width: 1100px;
    display:block;
    font-family: Tahoma;
    overflow: auto;
	background-image: url("https://xnagapiex.github.io/Web-Project/images/whitebg.png");
}

#footer {
    height: 40px;
    display:block;
    overflow: auto;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Tahoma;
    text-align: center;
    line-height: 35px;
}

#map {
	height: 100%;
	width: 100%;
}

#list { display:table; margin:6px auto;}

#boxrow {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#box {
    width: 260px;
    height: 260px;
	padding: 10px;
    border: 1px solid #aaaaaa;
}

table {
    width: 300px;
    background-color: black;
    border: 1px solid transparent;
}

th, td {
    padding: 5px;
    text-align: left;
	color: black;
    border: 1px solid transparent;
}

td {
	background-color: #ffcc99;
}

th {
    background-color: #ffa64d;
    height: 30px;
}

input#button {
	background-color: #ffa64d;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

button {
    background-color: #ffa64d;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ff9933;
}

a#resource {
	text-decoration: underline;
    color: black;
}

a#resource:hover {
	text-decoration: underline;
    color: #ff9933;
}

a#current {
    color: black;
}